<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.html') %>

<body>
    <%- include('partials/navigation.html')%>

    <div class="container">
        <header class="row">
            <div class="col-md-12 text-center">
                <img src="/img/logo.png" class="bounce-in-bck" alt="Pews Logo">
            </div>
        </header>
    </div>

    <!-- SECTION ONE -->

    <div class="container-fluid" id="about">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-6">
                <i class="fab fa-youtube fa-10x"></i>
            </div>
            <div class="col-sm-6">
                <h3>The most suscribed Youtuber</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia minima molestias ipsa nam
                    obcaecati, commodi, alias magnam, laboriosam iure pariatur culpa sit numquam incidunt consectetur
                    provident harum. Incidunt, quidem totam!</p>
            </div>
        </div>
    </div>

    <%- include('partials/footer.html') %>

</body>

</html>